<div class="users">
  <div class="control-panel">
    <form name="" [formGroup]="filterGroup">
      <label class="select"
        >Select column to filter:
        <select formControlName="selectedType">
          <option *ngFor="let opt of options" [value]="opt.value">
            {{ opt.text }}
          </option>
        </select>
      </label>
      <label class="input"
        >Enter filter keywords:
        <input
          type="text"
          formControlName="filterInput"
          placeholder="filter keywords go here..."
        />
      </label>
    </form>
  </div>
  <div class="users-list-wrapper">
    <table class="users-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>User Name</th>
          <th>E-mail</th>
          <th>Phone</th>
          <th>Website</th>
        </tr>
      </thead>

      <tbody *ngIf="filterValue && filterValue.length == 0">
        <tr *ngFor="let usrData of userData">
          <td>{{ usrData.name }}</td>
          <td>{{ usrData.username }}</td>
          <td>{{ usrData.email }}</td>
          <td>{{ usrData.phone }}</td>
          <td>{{ usrData.website }}</td>
        </tr>
      </tbody>
      <tbody *ngIf="filterValue && filterValue.length > 0">
        <tr *ngFor="let usrData of filterValue">
          <td>{{ usrData.name }}</td>
          <td>{{ usrData.username }}</td>
          <td>{{ usrData.email }}</td>
          <td>{{ usrData.phone }}</td>
          <td>{{ usrData.website }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
